<!DOCTYPE html>
{% load static %}
{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Lydia Afrakoma</title>
  
  <style>
    .container {
      max-width: 500px;
      margin: 0 auto;
      padding: 20px;
    }

    .form-group label {
      font-weight: bold;
    }

    .form-control,
    .btn {
      margin-top: 10px;
    }

    /* Small form inputs */
    .form-control-sm {
      height: calc(1.5em + 0.5rem + 2px);
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
    }
    
    /* Justify form inputs */
    .form-row {
      justify-content: space-between;
    }
  </style>
</head>

<body>

  {% include "hospital/navbar.html" %}
  <br><br>

  <center>
    <h3 class='alert alert-success'>Send Us Your Valuable Feedback!</h3>

    <form method="POST" class="container">
      <!-- Very Important csrf Token -->
      {% csrf_token %}
      <div class="form-group">
        {% bootstrap_form form layout='horizontal' %}
        {% buttons %}
          <button type="submit" class="btn btn-primary">
            Send Message
          </button>
        {% endbuttons %}
      </div>
    </form>
  </center>
  {% include "hospital/footer.html" %}
</body>

</html>
